extends ./inc/layout

block content

    h1.title Index

    .center
        :marked
            This application is a collection of examples on various web technologies. It is designed 
            so that any page can be directly editied and displayed without compilation or further
            processing. The technologies included are:

            * [**Pug**](https://pugjs.org), formally Jade, an HTML processor.
            * [**Stylus**](http://stylus-lang.com), a CSS processor.
            * [**Bootstrap**](http://http://getbootstrap.com/), styling from [Twitter](https://twitter.com/).
            * [**Babel**](https://babeljs.io/), an [ES2015](https://babeljs.io/learn-es2015/) 
                and [JSX](https://facebook.github.io/react/docs/introducing-jsx.html) processor.
            * [**React**](https://facebook.github.io/react/), a UI development tool for the web.
            * [**Markdown**](https://daringfireball.net/projects/markdown/syntax), a markup language.

            This application was built as a platform for working out quick solutions to problems 
            that may require several of these technologies, without the burdon of a build system 
            or other infrastructure. 

