extends ../inc/layout


block content

  h1.title About Us

  h2 Rowdy

  div
    figure
      img(src="/image/rowdy.002-640.png", alt="Rowdy riding Rosie")
      figcaption Rowdy riding Rosie at the Rowdy Ranch

  .center
    :marked
      Hi, I'm Rowdy and this is my ranch. I moved to Texas a few years back. As they say, "I got here as quick as I could". 
      
      I got started with goats from a friend. I rented their home and tended their goats. Later that year I got my first 
      goat "Paige". She was one week old and was a bottle baby. My son Kolt helped me feed her when 
      I went to work. Paige is my mama goat at Rowdy Ranch. 

      I liked the Nubian breed because the fat content of the milk makes it perfect 
      for making cheese and it's much tastier to drink. It's also wonderful for soap making.
      Plus I love their pretty ears.

      Rowdy Ranch is my little piece of heaven on earth.
