extends ../inc/layout

block content

    .center
        :marked

            # Emphasis

            ```
            *single asterisks*

            or

            _single underscores_
            ```

            This is *single asterisks* used in a line.

            # Strong

            ```
            **double asterisks**

            or

            __double underscores__
            ```

            This is **double asterisks** used in a line.

            # Strike Through

            ```
            ~~strike through~~
            ```

            This is ~~strike through~~ used in a line.

            # Escape Emphasis

            ```
            \*this text is surrounded by literal asterisks\*
            ```

            \*this text is surrounded by literal asterisks\*
