extends ../inc/layout

block content

    .center
        :marked

            # Headers

            ----
                
            ```
            # Header 1

            or

            Header 1
            ========
            ```

            # Header 1

            ----

            ```
            ## Header 2

            or

            Header 2
            --------
            ```

            ## Header 2

            ----
                
            ```
            ### Header 3
            ```

            ### Header 3

            ----
                
            ```
            #### Header 4
            ```
            
            #### Header 4

            ----
                
            ```
            ##### Header 5
            ```
            
            ##### Header 5

            ----
                
            ```
            ###### Header 6
            ```
            
            ###### Header 6


 