extends ../inc/layout

block content

    .center
        :marked

            # Introduction

            [John Gruber][] started [Markdown][] and [Github][Github Markdown] adoped and extended it for documentation.

            See the writing guide at: <https://help.github.com/categories/writing-on-github/>.



            [Markdown]:         https://daringfireball.net/projects/markdown/           "Daring Fireball"
            [John Gruber]:      http://daringfireball.net/

            [Github Markdown]:  https://guides.github.com/features/mastering-markdown/  "Github Markdown"
