extends ../inc/layout

block content

    .center
        :marked

            # Unordered List

            ```
            * One
            * Two
                * Two.1
            * Three
            * Four
            ```

            * One
            * Two
                * Two.1
            * Three
            * Four

            # Ordered List

            ```
            1. One
            2. Two
            1. Three
                1. Three.1
                1. Three.2
            1. Four
            ```

            1. One
            2. Two
            1. Three
                1. Three.1
                1. Three.2
            1. Four
